

body {
  background-image: url("../images/starry-background.png");
  background-position: center;
  background-repeat: repeat;
}

.hero-image {
  background-color: green;
  height: 90vh;
}

.nav-div {
  background-color: orange;
  height: 10vh;
}

}
