/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@400;700&display=swap');

/* Root Variables */

:root {
  --blue-text-color: #169BD8;
  --yellow-text-color: #E7EF5E;
  --green-text-color: #1DD225;
  --red-text-color: #D03018;
  --light-white-bg-color: rgba(255,255,255,0.1);
  --light-blue-bg-color: rgba(22, 155, 216, 0.2);
  --light-yellow-bg-color: rgba(231, 239, 94, 0.2);
  --light-green-bg-color: rgba(29, 210, 37, 0.2);
  --light-red-bg-color: rgba(208, 48, 24, 0.2);
  --white-text-color: #fff;
}

/* Body background and parallax effect */

body {
  background-image: url("../images/starry-background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  color: var(--white-text-color);
}

.parallax {
  background-image: url("../images/dots-background.png");
  background-position: center;
  background-repeat: repeat;
}

/* Background Color Classes */

.light-white-background {
  background-color: var(--light-white-bg-color);
}

.light-blue-background {
  background-color: var(--light-blue-bg-color);
  border: 2px solid var(--blue-text-color);
  color: var(--blue-text-color);
}

.light-blue-background:hover {
  background-color: var(--light-yellow-bg-color);
  border-color: var(--yellow-text-color);
  color: var(--yellow-text-color);
}

.light-green-background {
  background-color: var(--light-green-bg-color);
  border: 2px solid var(--green-text-color);
  color: var(--green-text-color);
}

.light-green-background:hover {
  background-color: var(--light-yellow-bg-color);
  border-color: var(--yellow-text-color);
  color: var(--yellow-text-color);
}

.light-red-background {
  background-color: var(--light-red-bg-color);
  border: 2px solid var(--red-text-color);
  color: var(--red-text-color);
}

.light-red-background:hover {
  background-color: var(--light-yellow-bg-color);
  border-color: var(--yellow-text-color);
  color: var(--yellow-text-color);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Audiowide", sans-serif;
}

/* Header and Nav */

.hero-image {
  height: 50vh;
  border-bottom: 3px solid var(--blue-text-color);
}



.nav-div-outer {
  height: 10vh;
}

.logo-image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.test {
  height: 2000px;
}

.logo-image-div {
  height: 80%;
}

.menu-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-item a {
  color: var(--blue-text-color);
  text-decoration: none;
}

.menu-item a:hover {
  color: var(--yellow-text-color);
}

.logo-text {
  height: 20%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Audiowide", sans-serif;
}

@media(min-width: 768px) {
  .hero-image {
    height: 30vh;
  }
  .logo-image {
    height: 100%;
    max-width: 100%;
  }
  .nav-div-outer {
    height: 5vh
  }
}

/* Home Section */

section {
  height: 2000px;
}

.left-side {
  /* background-color: green; */
}

.right-side {
  background-color: red;
}

.home-feat {
  margin: 10px;
  border-radius: 10px;
}
