/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:wght@400;700&display=swap');

/* Root Variables */

:root {
  --blue-text-color: #169BD8;
  --yellow-text-color: #E7EF5E;
  --light-white-bg-color: rgba(255,255,255,0.1);
  --light-blue-bg-color: rgba(22, 155, 216, 0.2);
  --light-yellow-bg-color: rgba(231, 239, 94, 0.1);
  --white-text-color: #fff;
}

/* Body background and parallax effect */

body {
  background-image: url("../images/starry-background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  color: var(--white-text-color);
}

.hero-image {
  background-color: green;
  height: 90vh;
}

.nav-div {
  background-color: orange;
  height: 10vh;
}

.logo-image {
  height: 90%;
}

.logo-image-div {
  height: 80%;
}

.logo-text {
  height: 20%;
}

@media(min-width: 768px) {
  .hero-image {
    height: 30vh;
  }
}
